.mainimg{
  width: 30vw;
  height: auto;
}
.flex{
  display: flex;
  gap: 10%;
}
.container{
  padding: 20px 10%;
}
.title{
  font-size: 42px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 40vw;
  font-weight: 500;
}
.desc{
  margin-top: 30px;
}
@media screen and (max-width: 720px){
  .container{
    padding: 20px 5%;
  }
  .flex{
    flex-direction: column;
    gap: 20px;
  }
  .mainimg{
    width: 100%;
  }
  .title{
    font-size: 32px;
    padding-bottom: 5px;
    width: 100%;
  }
}