@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --blue:rgb(255, 84, 21) ;
  --darkblue: rgb(0, 0, 37);
  --orange: #003b93;
  --darkorange:rgb(190, 51, 0);
  --lightorange:rgb(255, 106, 0);
}
