.fixed{
  position: sticky;
  width: 100vw;
  top: 0;
  background-color: white;
  z-index: 500;
}
.userInfoContainer {
  position: relative; /* Make the container relative for positioning the dropdown */
}

.blankspace{
width: 100%;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}

.endflex{
  display: flex;
  gap: 2vw;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: var(--blue);
  cursor: pointer; /* Make the user info clickable */
}

.userIcon {
  font-size: 2rem;
  margin-right: 10px;
  z-index: 700;
}

.userId {
  font-size: 12px;
  font-weight: 500;
  color: black;
  z-index: 700;
}

/* Dropdown menu styling */
.dropdownMenu {
  position: absolute;
  top: calc(100% + 20px); /* 20px below the userInfo div */
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  border: 1px solid rgb(204, 202, 202);
}

.logoutButton {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.logoutButton1 {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
color: black;
text-decoration: none;
}

.logoutButton1:hover {
  color: white;
  background-color: var(--blue);
}

.logoutButton:hover {
  background-color: #d32f2f;
}

.none{
  position: sticky;
  width: 100vw;
  top: -200px;
  background-color: white;
  z-index: 500;
}
.members{
  background-color: var(--blue);
  padding: 10px 1vw;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
.members:hover{
  cursor: pointer;
}
.Joinnow{
  background-color: var(--blue);
  padding: 10px 1vw;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.members:hover{
  cursor: pointer;
}
.topnav{
  display: flex;
  padding: 10px 5vw;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.link{
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.5s;
  z-index: 700;
}
.activities{
  position: relative;
}
.dropdown{
  position: absolute;
  top: -1000px;
  left: 0;
}
.activities:hover .dropdown{
  top: 100px;
}
.hovereffect{
  background: linear-gradient(to left, white 50%, var(--blue) 50%) right;
  background-size: 250% 120%;
  transition: 0.3s;
}
.hovereffect:hover{
  background-position: left;
  background-color: var(--blue);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
}
.span{
  transition: 0.3s;
  margin-left: 5px;
  transform: rotate(180deg);
}
.options{
  position: relative;
}
.link:hover{
  cursor: pointer;
}
.show{
  position: absolute;
  top: 40px;
  left: 1vw;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: 15px 20px;
  color: white;
  width: max-content;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 600;
}
.hide{
  position: absolute;
  top: -1000px;
  left: 1vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 84, 21);
  padding: 15px 20px;
  color: white;
  width: max-content;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 600;
}
.linked{
  color: white;
  text-decoration: none;
  background: linear-gradient(to left, rgba(255, 84, 21, 0) 50%, rgb(190, 51, 0) 50%) right;
  background-size: 200% 100%;
  transition: 0.3s;
  padding: 10px 5px;
}
.linked:hover{
  background-position: left;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
}
.li{
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.logo{
  width: 3.5vw;
  height: auto;
}
.navlinks1{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vw;
  font-size: 13px;
}
.navlinks{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vw;
  font-size: 13px;
}
.active{
  background-color: var(--blue);
  color: white;
}
/* .link::before{
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: black;
}
.ul::before {
  width: 0%;
  bottom: -10px;
}
.ul:hover::before {
  width: 100%;
} */
.btn{
  border-radius: 5px;
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 10px;
  background: linear-gradient(to left, var(--blue) 50%, rgb(190, 51, 0) 50%) right;
  background-size: 200% 100%;
  transition: 0.3s;
  font-size: 16px;
}
.btn:hover{
  background-position: left;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
}
.dropdowncontent{
  position: absolute;
  top: -50px;
  background-color: rgba(255, 84, 21, 0.95);
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  left: 0;
  width: max-content;
  padding: 20px;
}
.drpbtn{
  transition-delay:0.5s;
  transition: 0.3s;
}
.drpbtn:hover .dropdowncontent{
  opacity: 1;
  top: 45px;
}
.drpbtn:hover .dropdowncontent1{
  opacity: 1;
  top: 45px;
}
.userIdm{
  display: none;
}
.dropdowncontent1{
  position: absolute;
  top: -50px;
  background-color: rgba(255, 84, 21, 0.95);
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  left: 0;
  width: max-content;
  padding: 20px;
}
.drplink{
  padding: 10px 5px;
  margin-bottom: 5px;
  background: linear-gradient(to left, var(--blue) 50%, var(--darkorange) 50%) right;
  background-size: 200% 100%;
  transition: 0.3s;
}
.drplink:hover{
  background-position: left;
}
.menubutton{
  display: none;
}
.btnscontainer{
  display: none;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
  width: 5vw;
}
.line {
  fill: none;
  stroke: #0f117a;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.userId{
  display: block;
}
@media screen and (max-width: 1100px){
  .btnscontainer{
    display: block;
  }
}
@media screen and (max-width: 720px){
  .menu {
    width: 10vw;
  }
  .userIdm{
    display: block;
  }
}
@media screen and (max-width: 1100px){
  .show{
    position: static;
  }
  .logo{
    width: 7vw;
    height: auto;
  }
  .menubutton{
    display: block;
  }
  .navlinks1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vw;
    position: absolute;
    left: 0;
    font-size: 20px;
    top: -1000px;
    width: 100vw;
    background-color: white;
    padding: 30px 0;
    transition: 0.5s;
  }
  .navlinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vw;
    font-size: 20px;
    top: 100px;
    width: 100vw;
    background-color: white;
    padding: 30px 5vw;
    border-top: 1px solid black;
    position: absolute;
  }
  .dropdowncontent{
    opacity: 0;
    top: -1000px;
  }
  .dropdowncontent1{
    opacity: 1;
    top: 45px;
  }
  .width{
    width: 80vw;
  }
  .navlinks{
    position: absolute;
    top: -1000px;
    left: 0;
    transition: 0.5s;
  }
}
@media screen and (max-width: 720px){
  .topnav{
    padding: 0 5vw;
    justify-content: space-between;
  }
 .members{
    margin-left: 50%;
    margin-right: 5%;
  }
  .userInfoContainer{
    margin-right: 0%;
  }
  .userInfo{
    background-color: var(--blue);
    color: white;
    padding: 10px 3vw;
    padding-right: 5vw;
    border-radius: 40px;
    max-width: 50vw;
    margin-right: 0;
    font-size: 12px;
    width: max-content;
  }
  .userIcon{
    height: 20px;
    margin: 0;
  }
  .userId,.userIdm{
    color: white;
  }
  .userId{
    display: none;
  }
  .logo{
    width: 10vw;
    height: auto;
  }
  .navlinks{
    top: 70px;
    gap: 10px;
    width: 90vw;
  }
  .show{
    width: 80vw;
    z-index: 700;
    top: 40px;
    display: flex;
  }
  .hide{
    top: 40px;
    display: none;
  }
  .userinfocont{
    width: 55vw;
    display: flex;
    justify-content: end;
  }
}