.background {
  background: linear-gradient(to right, #d97903, var(--blue));
  padding: 30px 0;
  overflow: auto;
}

.formContainer {
  width: 80vw;
  margin: 30px auto;
  padding: 20px 2vw;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.span{
  color: red;
}

.note{
  margin-bottom: 20px;
}

.formContainer1 {
  width: 30vw;
  margin: 30px auto;
  padding: 20px 2vw;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.row1{
 width: 49%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-size: 14px;
  color: #555555;
  margin-bottom: 5px;
  font-weight: 500;
}

.input, .select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.input:focus, .select:focus {
  border-color: var(--blue);
  box-shadow: 0 0 5px var(--blue);
  outline: none;
}

.errorInput {
  border-color: #ff4d4d;
  background: #fff5f5;
}

.errorText {
  font-size: 12px;
  color: #ff4d4d;
  margin-top: 5px;
}

.submitButton {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: var(--blue);
}

.submitButton:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .row1{
    width: 100%;
  }

  .formGroup {
    width: 100%;
  }
  .formContainer {
    padding: 20px 5vw;
  }
  .formContainer1 {
    width: 80vw;
    padding: 20px 5vw;
  }
}
