.container{
    padding: 0 5% 50px;
}
/* Semi-transparent overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    z-index: 99; /* Ensure it's on top of everything else */
  }
/* Watermark styles */
    
.headcont{
    display: flex;
    justify-content: center;
}
.mainheading{
    font-size: 42px;
    font-weight: 600;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    display: inline;
  }
.sectioncontainer{
    width: 90vw;
    display: flex;
    justify-content: center;
    background-color: rgba(27,27,27,255);
    height: 500px;
    position: relative;
}
.sectioncontainer1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 501;
    width: 100vw;
    height: 100vh;
}
.section,.video{
    width: 90vw;
    height: 500px;
}
.section{
    width: 55vw;
}
.section1{
    width: 100vw;
    height: 100vh;
}
/* Semi-transparent overlay */
.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    z-index: 99; /* Ensure it's on top of everything else */
  }
.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    font-size: 4rem;
    color: rgba(255, 0, 0, 0.5);
    z-index: 9999;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
    text-align: center;
  }
  
.full{
    color: var(--blue);
    font-weight: 700;
}
.full:hover{
    cursor: pointer;
}
.close{
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 2%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.close:hover{
    cursor: pointer;
}
.bigcontainer{
    padding: 20px 0%;
}
.btncontainer{
    display: flex;
}
.btnc{
    padding: 15px 2%;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
.btnd{
    padding: 15px 2%;
    color: var(--blue);
    background-color: white;
    border: 1px solid var(--blue);
}
.btnc:hover, .btnd:hover{
    cursor: pointer;
}
.error{
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
}
@media screen and (max-width: 720px){
    .close{
        top: 20px;
        left: 20px;
        font-size: 20px;
    }
    .btnc,.btnd{
    width: 100%;
    text-align: center;
    }
    .mainheading{
        font-size: 32px;
    }
    .section{
        width: 100vw;
    }
}