.contS {
    margin: 50px 5%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-image: url('/languageclub/spanish (4).jpg');
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Optional: This keeps the background fixed during scroll */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.contF {
    margin: 50px 5%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-image: url('/languageclub/2 (2).jpg');
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Optional: This keeps the background fixed during scroll */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.contG {
    margin: 50px 5%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-image: url('/languageclub/german (5).jpg');
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Optional: This keeps the background fixed during scroll */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.contI {
    margin: 50px 5%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-image: url('/languageclub/german (5).jpg');
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Optional: This keeps the background fixed during scroll */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.smsont {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Add some transparency to the containers so text remains visible */
    margin-bottom: 5px;
}
.newflex {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.ques {
    padding: 40px 3%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ans {
    padding: 20px 0%;
    font-size: 22px;
    transition: 0.5s;
    height: auto;
}

.answ {
    padding: 0px 0%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.ans1 {
    font-size: 22px;
}

.answ1 {
    font-size: 0;
}

.nicon {
    font-size: 18px;
    transition: 0.3s;
}

.icon {
    font-size: 18px;
    transform: rotate(45deg);
    transition: 0.3s;
}
