.container{
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 15px 15px 25.6px;
    width: 82.5vw;
    padding-bottom: 10px;
    height: 100%;
}
@media screen and (max-width: 720px){
    .container{
        width: 96vw;
        margin: auto;
    }
}