.tableContainer {
    overflow-x: auto;
    margin-top: 20px;
    width: 100%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .table td {
    font-size: 14px;
  }
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .editButton {
    color: white;
    background-color: #4caf50;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .deleteButton {
    color: white;
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  