.container{
  padding: 0 12vw 100px;
  text-align: center;
}
.titlecont{
  margin: 100px auto 50px;
}
.title{
  font-size: 2.5rem;
  font-weight: 700;
    padding-bottom: 10px;
  display: inline;
}
.cards{
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.card{
  width: 22vw;
  text-align: center;
  text-decoration: none;
}
.imgcontainer{
  height: 250px;
  width: 22vw;
  overflow: hidden;
  display: flex;
}
.img{
  height: 250px;
  width: 22vw;
  transition: 0.5s;
  object-fit: contain;
}
.imgcontainer:hover .img{
  transform: scale(1.05);
}
.topic{
  margin: 20px 0 0;
  padding-bottom: 10px;
  font-weight: 700;
  color: var(--blue);
}
.text{
  color: rgb(97, 97, 97);
  font-size: 18px;
  transition: 0.3s;
}
.text:hover{
  color: black;
}
@media screen and (max-width: 720px){
  .container{
    display: flex;
    justify-content: center;
    padding: 0 5vw 50px;
  }
  .titlecont{
    margin: 100px auto 60px;
  }
  .title{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .cards{
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin-bottom:30px;
  }
  .card,.imgcontainer,.img{
    width: 90vw;
  }
  .imgcontainer,.img{
    height: 400px;
  }
  .img{
    object-fit: cover;
  }
}