.bcontainer{
  width: 100%;
  padding: 20px 2% 70px;
  height: 570px;
}
.container{
  /* rgba(0,0,223,0.71) rgba(8,0,139,0.71)*/
  background: linear-gradient(177deg, rgba(8,0,139,0.1) 0%, rgb(255, 136, 0) 0%, rgb(255, 155, 41) 100%);
  width: 86%;
  height: 550px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
.textcontainer{
  height: 300px;
}
.top{
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}
.middle{
  color: white;
  font-size: 40px;
  font-weight: 600;
}
.bottom{
  color: white;
  font-size: 40px;
  font-weight: 600;
}
.text1{
  animation: textan1 8s infinite;
}
.text2{
  animation: textan2 8s infinite;
}
.text3{
  animation: textan3 8s infinite;
}
@keyframes textan1 {
  0%{ transform: translate(-100px, 0);
  opacity: 0;}
  25%{ transform: translate(0px, 0px);
    opacity: 1;}
  100%{ transform: translate(0px, 0px);
    opacity: 1;}
}
@keyframes textan2 {
  0%{ transform: translate(-100px, 0);
  opacity: 0;}
  35%{ transform: translate(0px, 0px);
    opacity: 1;}
  100%{ transform: translate(0px, 0px);
    opacity: 1;}
}
@keyframes textan3 {
  0%{ transform: translate(-100px, 0);
  opacity: 0;}
  45%{ transform: translate(0px, 0px);
    opacity: 1;}
  100%{ transform: translate(0px, 0px);
    opacity: 1;}
}
.img,.img2,.img3{
  width: auto;
  height: 400px;
  animation: laptop 8s infinite;
}
@keyframes laptop {
  0%{transform: rotateX(45deg)}
  25%{transform: rotateX(0deg)}
  100%{transform: rotateX(0deg)}
}
.btn{
  margin-top: 40px;
  border-radius: 5px;
  background-color: white;
  border: none;
  color: var(--blue);
  padding: 10px;
  background: linear-gradient(to left, white 50%, var(--blue) 50%) right;
  background-size: 200% 100%;
  transition: 0.3s;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 5px;
}
.btn:hover{
  color: white;
  background-position: left;
}
.imgcont{
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 400px;
}
@media screen and (max-width: 720px){
  .container{
    flex-direction: column;
    padding-top:30px;
    padding-bottom:30px;
    height: auto;
    gap: 50px;
  }
  .textcontainer{
    height: 150px;
  }
  .top{
    font-size: 34px;
  }
  .middle{
    font-size: 20px;
  }
  .bottom{
    font-size: 20px;
  }
  .img,.img2,.img3{
    width: 60vw;
    height: auto;
  }
  .imgcont{
    height: auto;
  }
  .bcontainer{
    padding: 0px 2% 0px;
    margin-bottom: 50px;
    height: auto;
  }
  .btn{font-size: 18px;}
}