 .margintop{
  height: 600px;
 } 
 .topic{
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
  }
  .img{
    height: 550px;
    object-fit: cover;
    width: 100%;
  }
  .sliderbigcont{
    height: 530px;
    position: relative;
  }
  .slidecontainer{
    height: 510px;
    background-color: white;
  }
  .info{
    padding: 10px 5%;
    color: black;
    background-color: white;
    border-bottom: 1px solid rgb(225, 225, 225);
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 4px;
  }
  .swiper{
    height: 550px;
  }
  .sliderheading{
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  
  .subheading{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .link{
    text-decoration: none;
  }
  .flex{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 30px;
  }
  .item{
    padding: 10px 2%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  .swiper-button-next, .swiper-button-prev{
    color: red;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 20px;
  }
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
  }
  .swiper-pagination-bullet-active{
    background-color: red;
  }
  .swiper-pagination-bullet{
    background-color: rgba(255, 0, 0, 0.5);
  }
  .button-swiper{
    padding: 20px;
    background-color: white;
  }
  .swiper-button-next,.swiper-button-prev,.swiper-pagination{
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    right: unset !important;
    width: auto !important;
  }
    .credit{
        margin: 0;
        color: grey;
        font-size: 13px;
      }
  .pos{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    width: 60%;
    height: 550px;
    padding: 0 20vw;
  }
  .one{
    font-size: 32px;
  }
  .two{
    font-size: 48px;
    margin-bottom: 20px;
  }
  .three{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
  }
  @media screen and (max-width: 768px){
    .flex{
      flex-wrap: wrap;
      gap: 2vw;
    }
    .margintop{
      height: 400px;
     } 
     .img{
      height: 350px;
    }
    .swiper{
      height: 350px;
    }
    .sliderbigcont{
      height: 330px;
    }
    .slidecontainer{
      height: 310px;
    }
    .pos{
      width: 80vw;
      padding: 0 10vw;
      height: 350px;
      gap: 10px;
    }
    .one{
      font-size: 18px;
    }
    .two{
      font-size: 22px;
      margin-bottom: 20px;
    }
    .three{
      font-size: 16px;
    }
  }