.testimonialstitle{
  font-size: 42px;
  font-weight: 500;
}
.container{
  position: relative;
  height: 500px;
}
.img{
  width: 100vw;
  height: 500px;
  object-fit: cover;
}
.tint{
position: absolute;
top: 0;
background-color: rgba(0, 0, 0, 0.5);
width: 100vw;
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
color: white;
}
.topic{
  font-size: 34px;
  font-weight: 700;
}
.text{
  font-size: 26px;
  text-align: center;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.input{
  width: 30vw;
  border: 1px solid rgb(191, 191, 191);
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}
.button{
  font-size: 18px;
  padding: 0 3vw;
  color: white;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to left, var(--blue) 50%, rgb(190, 51, 0) 50%) right;
  background-size: 200% 100%;
  transition: 0.3s;
}
.button:hover{
  background-position: left;
}
.flex1{
  display: flex;
  gap: 1vw;
}
@media screen and (max-width: 720px){
  .flex{
    gap: 30px;
    padding: 0 5vw;
  }
  .topic{
    font-size: 20px;
  }
  .text{
    font-size: 16px;
  }
  .img{
    height: 300px;
  }
  .input{
    padding: 10px 20px;
    width: 50vw;
  }
  .tint{
    height: 300px;
  }
  .container{
    height: 300px;
  }
}