.slidercontainer{
  padding: 50px 0vw;
  margin-left: 0vw;
  position: relative;
  background-color: var(--blue);
}
.background{
  position: absolute;
  top: 0;
  left: 0vw;
  width: 100vw;
  height: 750px;
  z-index: -10;
  object-fit: cover;
}
.heading{
  width: 98vw;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.heading1{
  color: white;
  padding-bottom: 10px;
  border-bottom:3px solid white;
  display: inline;
}
.imgcontainer{
  display: flex;
  gap: 1vw;
  text-align: left;
  margin-bottom: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  width: 20vw;
  background: white;
  font-weight: 500;
  margin-left: 4vw;
  padding: 20px 2vw;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  height: 350px;
}
.img{
  width: 100px;
  height: 100px;
  object-fit: cover;
border-radius: 100%;
}
.name{
  font-size: 20px;
  font-weight: 600;
}
.boldtext{
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
}
.slider{
  padding-left: 1vw;
}
@media screen and (max-width: 720px){
  .background, .cover{
    height: 600px;
  }
  .slidercontainer{
    padding: 20px 2vw;
  }
  .slider{
    width: 96vw;
  }
  .card{
    padding: 20px 3vw 20px 3vw;
    width: 86vw;
    height: 300px;
    margin: 0;
  }
  .heading{
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    width: 95vw;
    margin-bottom: 60px;
  }
  .img{
    width: 100px;
    height: 100px;
  }
  .name{
    font-size: 22px;
  }
  .boldtext{
    margin-top: 5px;
    font-size: 14px;
  }
  .description,.imgcontainer{
    font-size: 14px;
    padding: 0 5vw;
  }
}