@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.container {
  font-family: 'Anek Malayalam', sans-serif;

  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 2vw 50px;
}
.background2{
  background: linear-gradient(90.04deg, rgba(255, 142, 60, 0.3) 0.03%, rgba(255, 110, 110, 0.3) 99.96%);
position: absolute;
top: 0;
left: 0;
z-index: -5;
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}
.background{
position: absolute;
top: 0;
left: 0;
z-index: -10;
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}

.timer{
  position: absolute;
  top: 130px;
  right: 20px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1vw;
  padding: 4px 0.5vw 0px;
  border: 3px solid white;
  border-radius: 10px;
}

.timer span{
  font-size: 30px;
}

.quizcontainer {
  width: 70vw;
  background: rgb(255, 255, 255, 0.85);
  border-radius: 4px;
  margin-top: 30px;
  padding: 30px 3vw;
  border-radius: 50px;
}
.background, .background2{
  margin-top: 60px;
}

.quizcontainer .activequestionno {
  font-size: 22px;
  font-weight: 500;
  color: rgb(255, 84, 21);
}

.quizcontainer .totalquestion {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quizcontainer h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.quizcontainer ul {
  margin-top: 15px;
}

.quizcontainer ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 14px;
  font-weight: 500;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 10px 1vw;
  margin-top: 5px;
  cursor: pointer;
}

.quizcontainer ul .selectedanswer {
  background: rgba(255, 143, 102, 0.7);
  border: 1px solid rgb(255, 84, 21);
}

.quizcontainer button, .btns{
  background: linear-gradient(90.04deg, rgb(255, 84, 21) 0.03%, #ff627c 99.96%);
  border-radius: 9px;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 1vw;
  outline: none;
  border: none;
  cursor: pointer;
}

.btns{
  text-decoration: none;
  width: 5vw;
}

.flex{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  width: 20vw;
  padding: 0 5vw;
  gap: 2vw;
}

.quizcontainer button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flexright {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgb(205, 205, 205) ;
  padding: 5px 1vw;
  border-radius: 10px;
}

.color{
  color: #007cef;
  font-size: 16px;
}

.flexi{
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
.quizcontainer ul  .correct{
  background-color: rgb(209, 255, 209);
  border: 1px solid rgb(57, 255, 57);
  pointer-events:none;
}

.quizcontainer ul  .wrong{
  background-color: rgb(255, 186, 186);
  border: 1px solid rgb(255, 133, 133);
  pointer-events:none;
}
.result h1{
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}
.check{
  color: rgb(0, 214, 0);
  font-size: 18px;
}
.cross{
  color: red;
  font-size: 18px;
}
.checkcont{
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(195, 195, 195);
  padding: 2px 0.5vw;
  border-radius: 10px;
}
.flex5{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.scores{
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
}
.quizcontainer ul  .selected{
  background-color: rgb(147, 255, 117);
  pointer-events:none;
}
.quizcontainer ul  .notselected{
  background-color: white;
  pointer-events:none;
}
.quizcontainer ul  .start{
  background-color: white;
}
.quizcontainer ul li{
  position: relative;
}
.quizcontainer ul li .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.528);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 16px;
}
.headingresult{
  font-size: 22px;
}
.flexi{
  font-size: 14px;
}
/* Sidebar styles */
.sidebar {
  width: 20vw;
  background-color: var(--blue);
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0 1vw;
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: #0070f3;
}

.disabledLink {
  pointer-events: none;
  opacity: 0.5;
}

/* Flexbox layout */
.mainLayout {
  display: flex;
  align-items: stretch;
  height: 70vh;
}

.container {
  width: 80vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quizcontainer {
  padding-top: 0;
}

/* Timer styles */
.timer {
  position: absolute;
  top: 100px;
  right: 5vw;
  font-size: 1.5rem;
  color: #333;
  display: flex;
  align-items: center;
}

.timer svg {
  margin-right: 5px;
}

/* Improved button styles */
/* button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
} */

/* General improvements for quiz */
.quizcontainer h2 {
  font-size: 1.8rem;
  color: #333;
}

.ul {
  padding: 0;
  list-style-type: none;
}

.ul .li {
  padding: 15px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ul .li:hover {
  background-color: #f1f1f1;
}

.correct {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.wrong {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.notselected {
  background-color: #fff;
  border-color: #ddd;
}

.quizcontainer ul{
  padding-left: 0;
}

.result{
  width: 30vw;
  border: 1px solid rgb(221, 217, 217);
  padding: 20px 2vw;
  margin: 50px 16vw 0;
  border-radius: 10px;
}
.headingresult{
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .result{
    width: 90%;
    margin: 0;
    padding: 20px 5vw;
    margin-top: 50px;
  }
  .flex{
    padding: 0;
  }
  .desktopSidebar {
    display: none;
  }
  .mobileMenu {
    display: block;
    width: 95%;
    background: var(--blue);
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    z-index: 100;
  }

  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
  }

  .menuList {
    background-color: white;
    padding: 0;
    list-style-type: none;
    border-radius: 5px;
  }

  .menuList li {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    background-color: white;
  }

  .sidebar ul li{
    margin: 0;
  }

  .disabledLink {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }  

}

@media (min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}


@media screen and (max-width: 720px){
  .quizcontainer .activequestionno{
    font-size: 26px;
  }
  .scores{
justify-content: flex-start;
margin-bottom: 10px;
  }
  .quizcontainer button, .btns{
    width: 100%;
  }
  .checkcont{
    font-size: 16px;
  }
  .check, .cross{
    font-size: 15px;
  }
  .quizcontainer {
    padding: 60px 5vw 30px;
    width: 100%;
    height: auto;
  }
  .timer{
    font-size: 24px;
    border: none;
    color: black;
    top: 160px;
    right: 10%;
  }
  .timer span{
    font-size: 30px;
  }
  .background, .background2{
    margin-top: 30px;
    overflow: visible;
    padding-bottom: 50px;
  }
  .quizcontainer h2 {
    font-size: 20px;
  }
  .quizcontainer {
    margin-top: 30px;
  }
  .quizcontainer ul li {
    font-size: 15px;
  }
  .quizcontainer ul li {
    padding: 5px 5vw;
  }
  .quizcontainer button, .btns{
    padding: 5px 2vw;
    font-size: 15px;
  }
  .quizcontainer ul {
    padding-left: 0;
  }
  .flex{
    width: 100%;
  }
  .flexi{
    width: 100%;
  }
}