/* Main Container */
.speechTrackerContainer {
    font-family: 'Arial', sans-serif;
    background-color: white;
    padding: 20px 5vw;
    border-radius: 8px;
    width: 70vw;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .flex{
    display: flex;
  }
  .readAloudButton{
font-size: 24px;
background: none;
border: none;
  }
  /* Heading */
  .heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Paragraph */
  .paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Word Styling */
  .word {
    margin-right: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  .highlighted {
    font-weight: bold;
    color: rgb(227, 80, 61);
    animation: highlight 0.5s ease-in-out;
    margin-right: 5px;
  }
  
  /* Animation for highlighting bold words */
  @keyframes highlight {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Button Styling */
  .toggleButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 20px auto;
  }
  
  .toggleButton:hover {
    background-color: #45a049;
  }
  
  /* Listening State */
  .listening {
    background-color: #f44336;
  }
  
  .listening:hover {
    background-color: #e53935;
  }
  
  /* Error Message */
  .errorMessage {
    color: red;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .closeModalButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(227, 80, 61);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .closeModalButton:hover {
    background-color: rgb(227, 80, 61);
  }
  
  @media screen and (max-width: 768px){
    .speechTrackerContainer {
        width: 80vw;
    }
    .paragraph {
        font-size: 16px;
    }
  }