.big {
  border: 1px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 8.6px;
  display: flex;
  border-radius: 20px;
  padding: 30px 10px;
  width: 30vw;
  gap: 2vw;
}

.new {
  border: 1px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 8.6px;
  border-radius: 20px;
  padding: 30px 10px;
  margin-top: 30px;
}

.small {
  font-size: 14px;
  margin: 5px;
}

.heading {
  font-weight: 600;
}

.container {
  position: relative;
  margin-top: 50px;
  width: 15vw;
  /* Using aspect-ratio 1:1 for a full circle */
  aspect-ratio: 1 / 1;
}

@media (max-width: 600px) {
  .container {
    width: 80vw;
  }
}

.bg {
  opacity: 0.3;
}

.progress {
  transition: stroke-dashoffset 0.5s ease;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}
